<a id="{{guid}}"
	{{#if href}}href="{{href}}"{{/if}}
	{{#if role}}role="{{role}}"{{/if}}
	{{#if ariaLabel}}aria-label="{{ariaLabel}}"{{/if}}
	{{#if target}}target="{{target}}"{{/if}}
	{{#if class}}class="{{class}}"{{/if}}
	{{#if title}}title="{{title}}"{{/if}}
	{{#if tabindex !== null}}tabindex="{{tabindex || 0}}"{{/if}}
	on-tap="anchorClicked"
	>
	{{#if .isDataModel}}
		{{{content}}}
	{{else}}
		{{yield}}
	{{/if}}
</a>
