<div class="ux-reveal reveal {{class}}">
	<a target="_blank"
		on-tap="toggleModal"
		class="open-reveal-modal">{{text}}</a>

	<div class="ux-reveal-wrapper">
		<div class="reveal-modal-bg {{#if modalVisible}}modal-visible{{/if}}"
			on-tap="closeOnBgClick"></div>
		<div class="reveal-modal {{size}} {{#if modalVisible}}modal-visible{{/if}}"
			aria-hidden="{{modalVisible}}">
			{{#if isDataModel}}
				{{{content}}}
			{{else}}
				{{yield}}
			{{/if}}

			{{#if !hideCloseButton}}
				<a class="close-reveal-modal"
					target="_blank"
					on-tap="toggleModal">{{{closetext}}}</a>
			{{/if}}
		</div>
	</div>
</div>
