<div class="off-canvas-wrap {{getExpandedClass}}" data-offcanvas>
    <div class="inner-wrap">

        <nav class="tab-bar">

            {{#if leftItems}}
                <section class="left-small">
                    <a class="left-off-canvas-toggle menu-icon" aria-expanded="{{ expandedState == 'left' ? 'true' : 'false' }}" on-tap="updateMenu:left"><span></span></a>
                </section>
            {{/if}}

            <section class="middle tab-bar-section">
                <h1 class="title">{{title}}</h1>
            </section>

            {{#if rightItems}}
                <section class="right-small">
                    <a class="left-off-canvas-toggle menu-icon" aria-expanded="{{ expandedState == 'right' ? 'true' : 'false' }}" on-tap="updateMenu:right"><span></span></a>
                </section>
            {{/if}}

        </nav>

        {{#if leftItems}}
            <aside class="left-off-canvas-menu">
                <ux-off-canvas-list items="{{leftItems}}"></ux-off-canvas-list>
            </aside>
        {{/if}}

        {{#if rightItems}}
            <aside class="right-off-canvas-menu">
				<ux-off-canvas-list items="{{rightItems}}"></ux-off-canvas-list>
            </aside>
        {{/if}}

        <section class="main-section">

            {{#if mainContent}}
                {{{mainContent}}}
            {{else}}
                {{yield}}
            {{/if}}

        </section>

        <a class="exit-off-canvas" on-tap="updateMenu"></a>

    </div>
</div>