<div class="tabs-area {{class}}">

	{{#if isDataModel}}

		<ux-tablinks items="{{items}}">
			{{#each items}}
				<ux-tablink id="{{.id}}" active="{{.active}}">{{.title}}</ux-tablink>
			{{/each}}
		</ux-tablinks>

		<ux-tabpanes items="{{items}}">
			{{#each items}}
				<ux-tabpane>{{{.content}}}</ux-tabpane>
			{{/each}}
		</ux-tabpanes>

	{{else}}

		{{>content}}

	{{/if}}

</div>
