<fieldset class="switch {{class}}" tabindex="0">
    {{#if group}}
        <input id="{{id}}" type="radio" name="{{{group}}}" {{#if checked}}checked{{/if}} value="{{value}}">
    {{else}}
        <input id="{{id}}" type="checkbox" {{#if checked}}checked{{/if}} value="{{value}}">
    {{/if}}
    <label for="{{id}}"></label>
</fieldset>
