<div class="icon-bar {{upNum}} {{class}}" role="navigation">
	{{#if isDataModel}}
		{{#items}}
			<ux-iconbaritem datamodel="{{.}}"></ux-iconbaritem>
		{{/items}}
	{{else}}
		{{yield}}
	{{/if}}
</div>