<div class="icon-bar {{upNum}} {{class}}" role="navigation">
	{{#if isDataModel}}
		{{#items}}
			<ux-iconbaritem href="{{.href}}" src="{{.src}}" label="{{.label}}" class="{{.class}}"></ux-iconbaritem>
		{{/items}}
	{{else}}
		{{yield}}
	{{/if}}
</div>