<div class="icon-bar {{upNum}} {{class}}" role="navigation">
	{{#if isDataModel}}
		{{#each items}}
			{{#with .}}
				<ux-iconbaritem datamodel="{{.}}"></ux-iconbaritem>
			{{/with}}
		{{/each}}
	{{else}}
		{{yield}}
	{{/if}}
</div>