<table class="ux-table {{.class}}"
       {{#if role}}role="{{role}}"{{/if}}
        >
    {{#if caption}}
        <caption>{{{caption}}}</caption>
    {{/if}}
    {{#if isDataModel}}
        {{#if header}}
            {{#with header}}
                <ux-table-head cell="{{cell}}" class="{{class}}">
                    <ux-table-row cell="{{cell}}">
                        {{#each cell}}
                            <ux-table-cell
                                    celltype="header"
                                    scope="{{.scope}}"
                                    colspan="{{.colspan}}"
                                    rowspan="{{.rowspan}}"
                                    class="{{.class}}">
                                {{{.label}}}
                                {{#if .sublabel}}
                                    <span class="sublabel">{{{.sublabel}}}</span>
                                {{/if .sublabel}}
                            </ux-table-cell>
                        {{/each}}
                    </ux-table-row>
                </ux-table-head>
            {{/with}}
        {{/if}}
        {{#if body}}
            {{#with body}}
                <ux-table-body rows="{{rows}}">
                    {{#each rows}}
                        <ux-table-row class="{{class}}" cell="{{cell}}">
                            {{#each cell}}
                                <ux-table-cell
                                        scope="{{.scope}}"
                                        colspan="{{.colspan}}"
                                        rowspan="{{.rowspan}}"
                                        class="{{.class}}">
                                    {{{.label}}}
                                </ux-table-cell>
                            {{/each}}
                        </ux-table-row>
                    {{/each}}
                </ux-table-body>
            {{/with}}
        {{/if}}
        {{#if footer}}
            {{#with footer}}
                <ux-table-foot class="{{class}}" cell="{{cell}}">
                    <ux-table-row cell="{{cell}}">
                        {{#each cell}}
                            <ux-table-cell class="{{.class}}">
                                {{{.label}}}
                                {{#if .sublabel}}
                                    <span class="sublabel">{{{.sublabel}}}</span>
                                {{/if .sublabel}}
                            </ux-table-cell>
                        {{/each}}
                    </ux-table-row>
                </ux-table-foot>
            {{/with}}
        {{/if}}
    {{else}}
        {{yield}}
    {{/if}}
</table>