<li id="{{guid}}" class="accordion-navigation {{class}} {{#if active}}active{{/if}}">
	{{#if isDataModel}}
		<ux-anchor>{{title}}</ux-anchor>
		<ux-content>{{{content}}}</ux-content>
	{{else}}
		{{yield}}
	{{/if}}
</li>
