<div class="ux-joyride">
	<a on-tap-enter="toggle"
		on-mouseover-mouseout="{{#if showOnHover}}hover{{/if}}"
		tabindex="0"
		aria-hasPopup="yes"
		aria-owns="{{id}}"
		class="joyride-start-point {{#if !isHidden}}joyride-open{{/if}}"
	>
		{{{linkText}}}
	</a>
	{{#if !isHidden}}
		<div class="joyride-tip-guide"
			id="{{id}}"
			tabindex="0"
			style="width: {{styles.width}};
				left: {{styles.left}};
				top: {{styles.top}}"
		>
			<span class="joyride-nub {{styles.nubPosition}}"
				{{#if styles.nubPosition === 'top'}}style="left: {{nubLeft}};"{{/if}}
			></span>
			<div class="joyride-content-wrapper">
				{{#if title}}
					<h4>{{title}}</h4>
				{{/if}}
				{{#if hasYield}}
					{{yield}}
				{{else}}
					{{#with contents[currentStep]}}
						{{#if text}}
							{{{text}}}
						{{else}}
							{{>content}}
						{{/if}}
					{{/with}}
				{{/if}}

				<!--prev button-->
				{{#if currentStep !==0}}
					<a class="small button prev"
						on-tap="prev">
						prev
					</a>
				{{/if}}
				{{#if currentStep < (contents.length - 1)}}
					<a class="button small next"
						on-tap="next">
						next
					</a>
				{{/if}}
				<!--close button-->
				<a class="joyride-close-tip ico ico-cross"
					on-tap-enter="close"
					aria-label="close"
					tabindex="0"
				>
					{{{closeText}}}
				</a>
			</div>
		</div>
	{{/if}}
</div>
