<ul class="ux-top-bar-items {{class}}">

	{{#if items}}
		{{#each items}}

			{{! TODO Use ux-li and ux-anchor, resolve nested scopes. }}
			<li class="{{getTopBarItemCssClass(this)}}">
				<a href="{{this.href}}">{{{this.label}}}</a>
				{{#if this.items}}
					{{! Recursively reference the same component, to create the hierarchy of items. }}
					<ux-top-bar-items class="dropdown" items="{{this.items}}"></ux-top-bar-items>
				{{/if}}
			</li>

		{{/each}}
	{{else}}
		{{>content}}
	{{/if}}

</ul>