<!-- Approach #1 -->
<span data-tooltip=""
	aria-haspopup="true"
	aria-describedby="{{selector}}"
	data-selector="{{selector}}"
	class="ux-tooltip {{#if hastip}}has-tip{{/if}} {{radius}}"
	{{#with options}}data-options="{{#options:key}}{{key}}:{{this}},{{/options}}"{{/with}}
	{{#if title}}title="{{title}}"{{/if}}
	on-hover="tooltipHovered"
	>
	{{#if isDataModel}}
		{{text}}
	{{else}}
		{{yield}}
	{{/if}}
	{{#with tooltip}}
		<span data-selector="{{selector}}"
			  id="{{selector}}"
			  class="tooltip {{tip}}"
			  role="tooltip"
			  style="display: {{#if open}}block{{else}}none{{/if}};">
			{{{content}}}<span class="nub"></span>
		</span>
	{{/with}}
</span>

<!-- Approach # 2 -->
<!--<span data-tooltip=""
	aria-haspopup="true"
	aria-describedby="{{selector}}"
	class="ux-tooltip"
	data-selector="{{selector}}"
	title="{{title}}"
	decorator="tooltip:'{{selector}}','{{tooltip.content}}'">
	{{#if isDataModel}}
		{{text}}
	{{else}}
		{{yield}}
	{{/if}}
</span>-->
