{{#if isHeaderCell}}
	<th
		{{#if .class}}class="{{.class}}"{{/if}}
		{{#if .colspan}}colspan="{{.colspan}}"{{/if}}
		{{#if .rowspan}}rowspan="{{.rowspan}}"{{/if}}
		{{#if .scope}}scope="{{.scope}}"{{/if}}>
		{{yield}}
	</th>
{{else}}
	<td
		{{#if .class}}class="{{.class}}"{{/if}}
		{{#if .colspan}}colspan="{{.colspan}}"{{/if}}
		{{#if .rowspan}}rowspan="{{.rowspan}}"{{/if}}
		{{#if .headers}}headers="{{.headers}}"{{/if}}>
		{{yield}}
	</td>
{{/if}}
