{{#if href}}
	<a class="ux-button button {{class}}"
		{{#if href}}href="{{href}}"{{/if}}
		{{#if role}} role="{{role}}"{{/if}}
		{{#if arialabel}} aria-label="{{arialabel}}"{{/if}}
		{{#if tabindex}} tabindex="{{tabindex}}"{{/if}}
		on-tap="clickHandler()"
	>
		{{#if text}}
			{{{text}}}
		{{else}}
			{{>content}}
		{{/if}}
	</a>
{{else}}
	<button class="ux-button button {{class}}"
		type="{{type}}"
		{{#if role}} role="{{role}}"{{/if}}
		{{#if arialabel}} aria-label="{{arialabel}}"{{/if}}
		{{#if tabindex}} tabindex="{{tabindex}}"{{/if}}
		on-tap="clickHandler()"
	>
		{{#if text}}
			{{text}}
		{{else}}
			{{>content}}
		{{/if}}
	</button>
{{/if}}

