<div class="ux-top-bar
    {{#if isSticky}}sticky{{/if}}
    {{#if isFixed}}fixed{{/if}}
    {{class}}">

    <nav class="top-bar {{#if isExpanded}}expanded{{/if}}"
         data-top-bar role="navigation" data-options="{{dataOptions}}">

        <ul class="title-area">
            <li class="name">
                <h1><a href="#">{{title}}</a></h1>
            </li>
            <li class="toggle-topbar menu-icon">
                <a href="#" on-tap="toggleMenu">
                    <span>{{menuLabel}}</span>
                </a>
            </li>
        </ul>

        <section class="top-bar-section">

            {{#if isDataModel}}

                {{#if rightItems}}
                    <ux-top-bar-items class="right" items="{{rightItems}}"></ux-top-bar-items>
                {{/if}}

                {{#if leftItems}}
                    <ux-top-bar-items class="left" items="{{leftItems}}"></ux-top-bar-items>
                {{/if}}

            {{else}}

                {{>content}}

            {{/if}}

        </section>

    </nav>

</div>
