<div class="ux-top-bar {{#if isfixed}}fixed{{/if}} {{class}}">

	<nav class="top-bar {{#if isexpanded}}expanded{{/if}}"
		 data-top-bar role="navigation" data-options="{{dataoptions}}">

		<ul class="title-area">
			<li class="name">
				<h1><a href="{{href}}">{{title}}</a></h1>
			</li>
			<li class="toggle-topbar menu-icon">
				<a href="#" on-tap="toggleMenu">
					<span>{{menulabel}}</span>
				</a>
			</li>
		</ul>

		<section class="top-bar-section">

			{{#if isDataModel}}

				{{#if rightitems}}
					<ux-top-bar-items class="right" items="{{rightitems}}"></ux-top-bar-items>
				{{/if}}

				{{#if leftitems}}
					<ux-top-bar-items class="left" items="{{leftitems}}"></ux-top-bar-items>
				{{/if}}

			{{else}}

				{{>content}}

			{{/if}}

		</section>

	</nav>

</div>
