<div class="{{class}}">
    <nav class="top-bar {{#if isExpanded}}expanded{{/if}}" data-top-bar role="navigation" data-options="{{dataOptions}}">

        <ul class="title-area">
            <li class="name">
                <h1><a href="#">{{title}}</a></h1>
            </li>
            <li class="toggle-topbar menu-icon">
                <a href="#" on-tap="toggle">
                    <span>{{menuLabel}}</span>
                </a>
            </li>
        </ul>

        <section class="top-bar-section">
            <!-- Right Nav Section -->

            {{#if isDataModel}}

                {{#if rightItems}}
                    <ux-top-bar-container class="right">
                        {{#rightItems}}
                            <ux-top-bar-item
                                class="{{#if hasForm}}has-form{{/if}} {{#if active}}active{{/if}}"
                                href="{{href}}">
                                {{label}}
                            </ux-top-bar-item>
                        {{/rightItems}}
                    </ux-top-bar-container>
                {{/if}}


                <!-- Left Nav Section -->
                {{#if leftItems}}
                    <ux-top-bar-container class="left">
                        {{#leftItems}}
                            <ux-top-bar-item
                                class="{{#if hasForm}}has-form{{/if}} {{#if active}}active{{/if}}"
                                href="{{href}}">
                                {{label}}
                            </ux-top-bar-item>
                        {{/leftItems}}
                    </ux-top-bar-container>
                {{/if}}

            {{else}}

                {{>content}}

            {{/if}}

        </section>
    </nav>
</div>
