{{#if (level == 1)}}<h1 {{#id}}id="{{id}}"{{/}} {{#class}}class="{{class}}"{{/}}>{{yield}}</h1>{{/if}}
{{#if (level == 2)}}<h2 {{#id}}id="{{id}}"{{/}} {{#class}}class="{{class}}"{{/}}>{{yield}}</h2>{{/if}}
{{#if (level == 3)}}<h3 {{#id}}id="{{id}}"{{/}} {{#class}}class="{{class}}"{{/}}>{{yield}}</h3>{{/if}}
{{#if (level == 4)}}<h4 {{#id}}id="{{id}}"{{/}} {{#class}}class="{{class}}"{{/}}>{{yield}}</h4>{{/if}}
{{#if (level == 5)}}<h5 {{#id}}id="{{id}}"{{/}} {{#class}}class="{{class}}"{{/}}>{{yield}}</h5>{{/if}}
{{#if (level == 6)}}<h6 {{#id}}id="{{id}}"{{/}} {{#class}}class="{{class}}"{{/}}>{{yield}}</h6>{{/if}}
